XML_Basis/ueb_xsd/ueb2/bestell.dtd

<!ELEMENT Bestellung (Adresse, Ware)>

<!ELEMENT Adresse (Name, Strasse, Ort, PLZ)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Strasse (#PCDATA)>
<!ELEMENT Ort (#PCDATA)>
<!ELEMENT PLZ (#PCDATA)>

<!ELEMENT Ware (Buch+)>
<!ELEMENT Buch (Titel, Autor, Anzahl, PreisEUR)>
<!ELEMENT Titel (#PCDATA)>
<!ELEMENT Autor (#PCDATA)>
<!ELEMENT Anzahl (#PCDATA)>
<!ELEMENT PreisEUR (#PCDATA)>
