XML_Basis/ueb_xsd/loes5/bestell_datatypes_plzchoise.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- globale Element-Definition entspricht dem Wurzelelement der validen XML-Dokumente -->
<xs:element name="Bestellung" type="BestellungTyp"/>
  
<xs:complexType name="BestellungTyp">
    <xs:sequence>
        <xs:element name="Adresse" type="BestellAdresse"/>
        <xs:element name="Ware" type="WarenTyp"/>
    </xs:sequence>
    <xs:attribute name="bestelldatum" type="xs:date"/>
 </xs:complexType>

<xs:complexType name="BestellAdresse">
  <xs:sequence>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="Strasse" type="xs:string"/>
    <xs:element name="Ort" type="xs:string"/>
    <xs:choice>
		 <xs:element name="PLZ_AT" type="PLZ_AT_Typ"/>
		 <xs:element name="PLZ_DE" type="PLZ_DE_Typ"/>
    </xs:choice>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="WarenTyp">
  <xs:sequence>
    <xs:element name="Buch" minOccurs="0" maxOccurs="unbounded" type="BuchTyp"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="BuchTyp">
    <xs:sequence>
        <xs:element name="Titel" type="xs:string"/>
        <xs:element name="Autor" type="xs:string"/>
        <xs:element name="Anzahl" type="AnzahlTyp"/>
        <xs:element name="PreisEUR" type="xs:decimal"/>
    </xs:sequence>
	<xs:attribute name="BestellNr" type="BestellNrTyp" use="required"/>
</xs:complexType>
      
<xs:simpleType name="AnzahlTyp">
    <xs:restriction base="xs:positiveInteger">
        <xs:maxInclusive value="10"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="BestellNrTyp">
  <xs:restriction base="xs:string">
    <xs:pattern value="\d{10}"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PLZ_AT_Typ">
	<xs:restriction base="xs:string">
		<xs:pattern value="\d{4}"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="PLZ_DE_Typ">
	<xs:restriction base="xs:string">
		<xs:pattern value="\d{5}"/>
	</xs:restriction>
</xs:simpleType>

</xs:schema>
