XML_Basis/ueb_xsd/loes4/bestell_mixed_facets.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Bestellung">
  <xs:complexType>
    <xs:sequence>
        <xs:element name="Adresse" type="BestellAdresse"/>
        <xs:element name="Ware" type="WarenTyp"/>
    </xs:sequence>
    <xs:attribute name="bestelldatum" type="xs:date"/>
  </xs:complexType>
 </xs:element>

<xs:complexType name="BestellAdresse">
  <xs:sequence>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="Strasse" type="xs:string"/>
    <xs:element name="Ort" type="xs:string"/>
    <xs:element name="PLZ" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="WarenTyp">
  <xs:sequence>
    <xs:element name="Buch" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Titel" type="xs:string"/>
          <xs:element name="Autor" type="xs:string"/>
          <xs:element name="Anzahl">
              <xs:simpleType>
                  <xs:restriction base="xs:positiveInteger">
                     <xs:maxInclusive value="10"/>
                  </xs:restriction>
              </xs:simpleType>
          </xs:element>
          <xs:element name="PreisEUR" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="BestellNr" type="BestellNrTyp" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="BestellNrTyp">
  <xs:restriction base="xs:string">
    <xs:pattern value="\d{10}"/>
  </xs:restriction>
</xs:simpleType>

</xs:schema>
